<header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#e7eef3] px-10 py-3">
  <div class="flex items-center gap-8">
    <div class="flex items-center gap-4 text-[#0d161b] cursor-pointer" (click)="navigateToHome()">
      <div class="size-4">
        <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6 6H42L36 24L42 42H6L12 24L6 6Z" fill="currentColor"></path>
        </svg>
      </div>
      <h2 class="text-[#0d161b] text-lg font-bold leading-tight tracking-[-0.015em]">CycleSphere</h2>
    </div>
  </div>
  <div class="flex flex-1 justify-end gap-8">

    <!-- Authentication and Cart buttons -->
    <div class="flex gap-2">
      <ng-container *ngIf="isAuthenticated$ | async; else loginButton">
        <button 
          (click)="logout()" 
          class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-[#e7eef3] text-[#0d161b] text-sm font-bold leading-normal tracking-[0.015em]"
        >
          <span class="truncate">Sign out</span>
        </button>
      </ng-container>
      <ng-template #loginButton>
        <button 
          routerLink="/login" 
          class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-[#e7eef3] text-[#0d161b] text-sm font-bold leading-normal tracking-[0.015em]"
        >
          <span class="truncate">Sign in</span>
        </button>
      </ng-template>
      
      <button routerLink="/cart" class="flex max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 bg-[#e7eef3] text-[#0d161b] gap-2 text-sm font-bold leading-normal tracking-[0.015em] min-w-0 px-2.5 relative">
        <div class="text-[#0d161b]">
          <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
            <path d="M222.14,58.87A8,8,0,0,0,216,56H54.68L49.79,29.14A16,16,0,0,0,34.05,16H16a8,8,0,0,0,0,16h18L59.56,172.29a24,24,0,0,0,5.33,11.27,28,28,0,1,0,44.4,8.44h45.42A27.75,27.75,0,0,0,152,204a28,28,0,1,0,28-28H83.17a8,8,0,0,1-7.87-6.57L72.13,152h116a24,24,0,0,0,23.61-19.71l12.16-66.86A8,8,0,0,0,222.14,58.87Z"></path>
          </svg>
        </div>
        <span *ngIf="(cartItemCount$ | async) as count" class="absolute -top-1 -right-1 bg-[#209cee] text-white rounded-full text-xs w-5 h-5 flex items-center justify-center">
          {{ count }}
        </span>
      </button>
    </div>
  </div>
</header>